{% style %}
    .partner-section .grid__item {
      margin-right:6px;
    }
    .partner-section .medium-up--one-quarter {
      width:calc(25% - 6px)

    }
    .index-section:has(.vintage-military-{{ section.id }}) {
      padding: 0;
    }
    .shopify-section:has(.vintage-military-{{ section.id }}) {
      padding:100px 0;
      background-color: {{ section.settings.background-color }};
      background-image: url({{ section.settings.bg-image | image_url:width:auto }});
      color: {{ section.settings.text-color }};
      background-position: center;
      background-size:cover;l
      background-repeat: no-repeat;
    }


    .shopify-section:has(.vintage-military-{{ section.id }}) {
      background-color: {{ section.settings.backgroundcolor }};
      color: {{ section.settings.fontcolor }};
      background-image: url({{ section.settings.image | image_url:width:auto }});
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
    }

  .vintage-military-{{ section.id }} .grid {
    display: flex;
    flex-wrap: wrap;
  }

    .vintage-military-{{ section.id }} .grid__item  {
      flex:1 0 21%;
      display:flex;
      flex-direction:column;
  border-radius: 10px;
  padding: 10px;
  background-color: {{ section.settings.frame-color }};
  margin-bottom:6px;
    }

    .vintage-military-{{ section.id }} .grid__item .view-btn  {
      align-self:flex-end;
      flex:1;
  border-radius: 5px;
  background-color: {{ section.settings.button-color }};
  display:block;
  padding: 5px;
  text-align:center;
    }

    .vintage-military-{{ section.id }} .grid-product__image-mask .grid__image-ratio--square  {
  border-radius: 5px;
  overflow:hidden;
  padding: 10px;
  background-color: white;
    }
  .vintage-military-{{ section.id }} .grid__item .sale-price  {
  color: {{ section.settings.text-color }};
    }


    .vintage-military-{{ section.id }} a {
      color: {{ section.settings.text-color }}
    }
    .vintage-military-{{ section.id }} .grid {
      margin:0;
    }
{% endstyle %}
<div class="vintage-military-{{ section.id }} partner-section">
  {%- liquid
    assign per_row = section.settings.per_row
    assign product_limit = per_row | times: section.settings.rows
    assign collection = collections[section.settings.home_featured_products]

    capture gridView
      render 'products_per_row', products_per_row: per_row, style: 'fractions'
    endcapture
  -%}

  {% style %}
    {% if section.settings.title == blank and section.settings.view_all %}
      #CollectionSection-{{ section.id }} .section-header__link {
        padding-bottom: 10px;
      }
    {% endif %}
  {% endstyle %}

  <div
    id="CollectionSection-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="featured-collection"
  >
    {%- if section.settings.title != blank or section.settings.view_all -%}
      <div class="page-width">
        <div class="section-header">
          <h2 class="section-header__title">
            {% if section.settings.title != blank %}
              {{ section.settings.title }}
            {% endif %}
            {% if section.settings.view_all and section.settings.rows == 1 %}
              <a href="{{ collections[section.settings.home_featured_products].url }}" class="section-header__link">
                {{- 'collections.general.all_of_collection' | t -}}
              </a>
            {% endif %}
          </h2>
          <h3 class="section-header__subtitle">
            {% if section.settings.subtitle != blank %}
              {{ section.settings.subtitle }}
            {% endif %}
          </h3>
        </div>
      </div>
    {% endif %}

    <div class="page-width page-width--flush-small">
      <div class="grid-overflow-wrapper">
        <div class="grid grid--uniform" data-aos="overflow__animation">
          {% if section.settings.home_featured_products == blank
            or collections[section.settings.home_featured_products].empty?
            or collections[section.settings.home_featured_products].products_count == 0
          %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {%- for i in (1..product_limit) -%}
                  <div class="grid__item grid-product {{ gridView }}" data-aos="row-of-{{ per_row }}">
                    <div class="grid-product__content">
                      <a href="{{ product.url | within: collection }}" class="grid-product__link">
                        <div class="grid-product__image-mask">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          <div class="image-wrap">
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                        </div>
                        <div class="grid-product__meta">
                          <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                          <div class="grid-product__price">$29</div>
                        </div>
                      </a>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>

          {% else %}
            {%- for product in collections[section.settings.home_featured_products].products limit: product_limit -%}
              {%- render 'product-grid-item',
                product: product,
                collection: collection,
                per_row: per_row,
                fallback: '66vw'
              -%}
            {%- endfor -%}

            {% if section.settings.view_all %}
              {% if section.settings.rows > 1 %}
                <div class="grid__item small--hide text-center">
                  <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn">
                    {{- 'collections.general.all_of_collection' | t -}}
                  </a>
                </div>
              {% endif %}

              <div class="grid__item grid__item--view-all text-center {{ gridView }} medium-up--hide">
                <a href="{{ collections[section.settings.home_featured_products].url }}" class="grid-product__see-all">
                  {{ 'collections.general.view_all_products_html' | t: count: collection.products_count }}
                </a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "AF Featured Category",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label",
      "default": "Featured Category"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "This & That"
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "image_picker",
      "id": "bg-image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "frame-color",
      "label": "Frame Color",
      "default": "#0a406c"
    },
    {
      "type": "color",
      "id": "button-color",
      "label": "Frame Button Color",
      "default": "#01589f"
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": "t:sections.featured-collection.settings.home_featured_products.label"
    },
    {
      "type": "range",
      "id": "per_row",
      "label": "t:sections.featured-collection.settings.per_row.label",
      "default": 4,
      "min": 1,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": "t:sections.featured-collection.settings.rows.label",
      "default": 1,
      "min": 1,
      "max": 5,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "AF Featured Categoy"
    }
  ],
  "blocks": [],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
