

{%- liquid
  assign image_width = section.settings.image_width
-%}

{% style %}



    /* rest row css */

  #shopify-section-{{ section.id }} .feature-row__text {
    background-color:{{section.settings.box-color}};
    padding:50px;
    border-radius: 0px;
    position:relative;
    z-index:3;
    
    {%- if section.settings.layout == 'left' -%}
      right:0px;
    {%- endif -%}
    
    {%- if section.settings.layout == 'right' -%}
      left:0px;
    {%- endif -%}
  }
      



#shopify-section-{{ section.id }},
#shopify-section-{{ section.id }} .page-width,
#shopify-section-{{ section.id }} .feature-row, 
#shopify-section-{{ section.id }} .feature-row-item, 
#shopify-section-{{ section.id }} .feature-row--50 .feature-row__images {
  margin:0;
  padding:0;
  display:block; 
}

#shopify-section-{{ section.id }} .page-width {
  max-width:100vw;
}

#shopify-section-{{ section.id }} .feature-row-wrapper {
  overflow: visible !important;
}
#shopify-section-{{ section.id }} .feature-row {
  display:flex;
  position:relative;
}

#shopify-section-{{ section.id }} .feature-row-item {
  width:50%;
}


.index-section-{{ section.id }} .stripe:last-of-type {
  bottom:-100px;
}



.index-section-{{ section.id }} { 
  background-color: {{ section.settings.bg-color }};
  color: {{ section.settings.color }};
}


  {% if section.settings.top_padding == false %}
    #shopify-section-{{ section.id }} .index-section { margin-top: 0 !important; }
  {% endif %}
  {% if section.settings.bottom_padding == false %}
    #shopify-section-{{ section.id }} .index-section { margin-bottom: 0 !important; }
  {% endif %}  


@media only screen and (max-width:1564px){ 
  #shopify-section-{{ section.id }} .feature-row .stripe { 
    bottom:-400px !important;
  }
}

@media only screen and (max-width:1024px){ 
  #shopify-section-{{ section.id }} .feature-row__text {
    width:70%;
    {%- if section.settings.layout == 'left' -%}
      right:10px !important;
    {%- endif -%}
    {%- if section.settings.layout == 'right' -%}
      left:10px !important;
    {%- endif -%}
    }
      
  h2.h1 { font-size:40px; }
  
  #shopify-section-{{ section.id }} .feature-row-wrapper .feature-row__images {
    width:100%;
  }
  
  #shopify-section-{{ section.id }} .index-section { 
    padding-bottom: 0 !important; 
    padding-top: 0 !important; 
  }
  
  
}
    
@media only screen and (max-width:589px){ 
  #shopify-section-{{ section.id }} .feature-row .stripe { 
    width:70px;
    background-size:contain;
    bottom:-300px !important;
  }
}




{% endstyle %}

<div class="index-section index-section-{{ section.id }}">

  <div class="page-width feature-row-wrapper feature-row--{{ image_width }}">
    {%- capture image_layout -%}
      <div class="feature-row__item feature-row__images data-aos">
          {%- if section.settings.image != blank -%}
            <div class="feature-row__first-image">
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- liquid

                      assign size_variable = 'calc(0.6 * 50vw)'
                      assign fallback = '60vw'
                    assign image_width = section.settings.image_width | times: 1
                    assign loading = section.settings.lazyload_images
                    
                  -%}
                  {%- render 'image-element',
                    img: section.settings.image,
                    widths: '180, 360, 540, 750, 900, 1080',
                    loading: loading,
                    size_variable: size_variable,
                    fallback: fallback,
                    classes: 'feature-row__image',
                  -%}
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}"  data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <h2 class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>
      
      
      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="stripe"></div>
    </div>
  </div>

</div>


{% schema %}
{
  "name": "AF Image/Text FlipFlop",
  "settings": [
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "box-color",
      "label": "Box Color",
      "default": "#0a406c"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Rich Text",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Align Text",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Image Width",
      "default": "50",
      "options": [
        {
          "value": "33",
          "label": "Small"
        },
        {
          "value": "50",
          "label": "Medium"
        },
        {
          "value": "66",
          "label": "Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "stripe",
      "label": "Stripe",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "top_padding",
      "label": "Top Padding",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_padding",
      "label": "Bottom Padding",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "lazyload_images",
      "label": "Lazy Load Images",
      "info": "t:common.lazyload_images.info",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "AF Image/Text FlipFlop"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}


